@import "bootstrap/dist/css/bootstrap.css";
@import "./family-chart.css";
@import "bootstrap-icons";
@import "tom-select/dist/css/tom-select.bootstrap5.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

#FamilyChart path.link {
    stroke: #000;
}

.btn-male {
    color: #0d6dfd;
}

.btn-female {
    color: #ee3e80;
}

legend {
    font-size: 1.1rem;
}
